body {
    margin: 0;
    font-family: Arial;
    background-color: #111;
    color: white;
    text-align: center;
}

.top-bar {
    background: linear-gradient(90deg, #b08d2f, #f5e7a1, #b08d2f);
    color: #111;
    text-align: center;
    padding: 8px;
    font-weight: bold;
}

header {
    background-color: #1e1e1e;
    text-align: center;
    padding: 30px;
    font-size: 180%;
}

nav a {
    color: white;
    margin: 0 18px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #d4af37;
}

img {
    width: 500px;
    border-radius: 15px;
    border: 3px solid #d4af37;
    margin: 20px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 5%;
    padding: 2%;
}
.cards2 {
    display: flex;
    justify-content: center;
    gap: 5%;
    padding: 2%;
}

.card {
    background-color: #1e1e1e;
    padding: 50px;
    width: auto;
    border-radius: 20px;
    border: 2px solid #d4af37;
    font-size: 140%;
    text-align: left;
}


footer {
    margin-top: 30px;
    color: #d4af37;
}