body {
    background-color: #111;
    color: white;
    font-family: Arial;
    margin: 0;
    flex: 1;
}

.top-bar {
    background: linear-gradient(90deg, #b08d2f, #f5e7a1, #b08d2f);
    color: #111;
    text-align: center;
    padding: 8px;
    font-weight: bold;
}

header {
    background-color: #1e1e1e;
    text-align: center;
    padding: 30px;
    font-size: 180%;
}


nav a {
    color: white;
    margin: 0 18px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #d4af37;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 900px;
    margin: 0 auto;
    padding: 40px;
}

.gallery img {
    width: 100%;
    height: 280px;       
    object-fit: cover;   
    border-radius: 15px;
    border: 3px solid #d4af37;
    transition: transform 0.3s, box-shadow 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #d4af37;
}

footer {
    color: #d4af37;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
