body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background-color: #111;
    color: white;
}

.top-bar {
    background: linear-gradient(90deg, #b08d2f, #f5e7a1, #b08d2f);
    color: #111;
    text-align: center;
    padding: 8px;
    font-weight: bold;
}

header {
    background-color: #1e1e1e;
    text-align: center;
    padding: 30px;
    font-size: 180%;
}

nav a {
    color: white;
    margin: 0 18px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #d4af37;
}

.hero {
    background-image: url("images/golden-abstract-background-generative-ai_800563-10617.avif");
    height: 700px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: auto center  ;
    gap: 1%;
    text-align: center;
    
}

.hero-text {
    background-color: rgba(0,0,0,0.65);
    padding: 40px;
    border: 3px solid #d4af37;
    border-radius: 15px;
}

.music {
    text-align: center;
    padding: 40px;
    border-top: 2px solid #d4af37;
    border-bottom: 2px solid #d4af37;
    color: #d4af37;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 10%;
    padding: 40px;
}

.card {
    background-color: #1e1e1e;
    padding: 3%;
    width: 250px;
    border-radius: 20px;
    border: 2px solid #d4af37;
    font-size: 150%;
    text-align: center;
}

footer {
    background-color: #000;
    color: #d4af37;
    text-align: center;
    padding: 15px;
    border-top: 3px solid #d4af37;
    position: fixed;
    bottom: 0;
    width: 100%;
}